In [2]:
import pandas as pd
import numpy as np

In [3]:
raw_instrument_path = '/Users/nathanjones/Downloads/NUWE/Hackathons/Schneider_DataScience/hackathon-schneider-pollution/data/raw/instrument_data.csv'
raw_measurement_path = '/Users/nathanjones/Downloads/NUWE/Hackathons/Schneider_DataScience/hackathon-schneider-pollution/data/raw/measurement_data.csv'
raw_pollutant_path = '/Users/nathanjones/Downloads/NUWE/Hackathons/Schneider_DataScience/hackathon-schneider-pollution/data/raw/pollutant_data.csv'

raw_instrument_df = pd.read_csv(raw_instrument_path)
raw_measurement_df = pd.read_csv(raw_measurement_path)
raw_pollutant_df = pd.read_csv(raw_pollutant_path)

## instrument_data

In [4]:
raw_instrument_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3703662 entries, 0 to 3703661
Data columns (total 5 columns):
 #   Column             Dtype
---  ------             -----
 0   Measurement date   object
 1   Station code       int64
 2   Item code          int64
 3   Average value      float64
 4   Instrument status  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 141.3+ MB

In [5]:
raw_instrument_df.describe()

       Station code     Item code  Average value  Instrument status
count  3.703662e+06  3.703662e+06   3.703662e+06       3.703662e+06
mean   2.159581e+02  4.333333e+00   1.170491e+01       1.377877e-01
std    7.176528e+00  2.748737e+00   3.842504e+01       9.948272e-01
min    2.040000e+02  0.000000e+00  -1.000000e+00       0.000000e+00
25%    2.100000e+02  2.000000e+00   1.200000e-02       0.000000e+00
50%    2.160000e+02  4.500000e+00   7.200000e-02       0.000000e+00
75%    2.220000e+02  7.000000e+00   1.500000e+01       0.000000e+00
max    2.280000e+02  8.000000e+00   6.256000e+03       9.000000e+00

In [6]:
raw_instrument_df.loc[raw_instrument_df['Instrument status']!=0]

,Measurement date,Station code,Item code,Average value,Instrument status
614,2021-01-05 06:00:00,204,4,0.100,9
1380,2021-01-10 14:00:00,204,0,0.051,1
1381,2021-01-10 14:00:00,204,2,0.007,1
1382,2021-01-10 14:00:00,204,4,6.000,1
1383,2021-01-10 14:00:00,204,5,0.014,1
...,...,...,...,...,...
3703067,2023-11-26 20:00:00,228,7,17.000,9
3703072,2023-11-26 21:00:00,228,7,15.000,9
3703081,2023-11-26 23:00:00,228,7,45.000,9
3703326,2023-11-28 16:00:00,228,8,12.000,1
3703327,2023-11-28 16:00:00,228,7,21.000,1

In [7]:
raw_instrument_df["Instrument status"].value_counts()

Instrument status
0    3606696
8      28323
1      27147
9      19668
4      17960
2       3868
Name: count, dtype: int64

## measurement_data

In [8]:
raw_measurement_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 621588 entries, 0 to 621587
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Measurement date  621588 non-null  object
 1   Station code      621588 non-null  int64
 2   Latitude          621588 non-null  float64
 3   Longitude         621588 non-null  float64
 4   SO2               621588 non-null  float64
 5   NO2               621588 non-null  float64
 6   O3                621588 non-null  float64
 7   CO                621588 non-null  float64
 8   PM10              621588 non-null  float64
 9   PM2.5             621588 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 47.4+ MB

In [9]:
raw_measurement_df.describe()

,Station code,Latitude,Longitude,SO2,NO2,O3,CO,PM10,PM2.5
count,621588.000000,621588.000000,621588.000000,621588.00000,621588.000000,621588.000000,621588.000000,621588.000000,621588.000000
mean,215.980915,37.554003,126.988930,-0.00135,0.022904,0.018718,0.508598,43.978420,25.504612
std,7.192600,0.053397,0.078829,0.07622,0.114483,0.097799,0.399569,71.664738,43.760796
min,204.000000,37.452357,126.835151,-1.00000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,210.000000,37.517528,126.927102,0.00300,0.016000,0.009000,0.300000,22.000000,11.000000
50%,216.000000,37.544962,127.004850,0.00400,0.025000,0.021000,0.500000,35.000000,19.000000
75%,222.000000,37.584848,127.047470,0.00500,0.038000,0.035000,0.600000,53.000000,31.000000
max,228.000000,37.658774,127.136792,3.73600,38.445000,33.600000,71.700000,3586.000000,6256.000000

## pollutant_data

In [10]:
raw_pollutant_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Item code            6 non-null      int64
 1   Item name            6 non-null      object
 2   Unit of measurement  6 non-null      object
 3   Good                 6 non-null      float64
 4   Normal               6 non-null      float64
 5   Bad                  6 non-null      float64
 6   Very bad             6 non-null      float64
dtypes: float64(4), int64(1), object(2)
memory usage: 468.0+ bytes